src/main/app/mule-rest-sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:endpoint exchange-pattern="request-response" host="localhost" port="8081" method="GET" name="HTTP_endpoint" doc:name="HTTP"/>
    <flow name="mule-rest-sample" doc:name="mule-rest-sample">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" doc:name="HTTP"/>
        <jersey:resources doc:name="REST hello">
            <custom-interceptor class="com.mitrais.ice.samples.MuleRestInterceptor"/>
            <component class="com.mitrais.ice.samples.SampleRestComponent"/>
        </jersey:resources>
        <component class="com.mitrais.ice.samples.SampleJavaConvertingInboundMessage" doc:name="Convert Inbound Message"/>
        <logger message="Message is #[message.payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
